.section
{
    padding-top: 30px;
    padding-bottom: 100px;
    border-bottom:10px solid black ;
    background-color:  #3A4042;
    background-image: url(../../Assets/img/WhatsApp\ Image\ 2023-03-31\ at\ 17.32.56.jpeg);
    background-repeat: no-repeat;
    background-size: 100% ;
    height:600px ;
    box-sizing: border-box;
}

.section .main-title
{
    margin-bottom: 90px;
}
